
/*www.doomovie-hd.com*/
.topad_container{
  display: none;
}
.header-banana_container {
  display: none;
}
.header-banana_container{
  display: none;
}

.header-banana_small_tall {
  display: none;
}
.header-banana_big_tall {
  display: none;
}
.header-banana_small_tall {
  display: none;
}
.header-banana_small_short {
  display: none;
}
.header-banana_small_short {
  display: none;
}
.header-banana_big_short {
  display: none;
}
.header-banana_half-width_container {
  display: none;
}


.left-floating-banana-container{
  display: none;
}
.right-floating-banana-container{
  display: none;
}
.floating-banana-container {
  display: none;
}
.under-player-banana {
  display: none;
}
.tv-player-banana {
  display: none;
}

.side_floating_ad.left-side_floating_ad {
  display: none;
}
.side_floating_ad.right-side_floating_ad {
  display: none;
}
.floating_ads_bt-mid_container {
  display: none;
}



